@font-face {
   font-family: 'FixelText-ExtraBold';
   font-display: swap;
   src: url('FixelText-ExtraBold/font.ttf');
}
@font-face {
   font-family: 'Keedy Bold';
   font-display: swap;
   src: url('Keedy Bold/font.ttf');
}
