@font-face {
   font-family: 'FixelText-ExtraBold';
   font-display: swap;
   src: url('file:///C:/Users/Non/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-04-14_104645/fonts/FixelText-ExtraBold/font.ttf');
}
